/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
Theme Selection
*******************************/

/* To override a theme for an individual element
specify theme name below
*/

/* Global */
@site       : 'enngage';
@reset      : 'enngage';

/* Elements */
@button     : 'enngage';
@container  : 'enngage';
@divider    : 'default'; /* Needs to be default */
@flag       : 'default'; /* Needs to be default */
@header     : 'enngage';
@icon       : 'default'; /* Needs to be default */
@image      : 'enngage';
@input      : 'enngage';
@label      : 'enngage';
@list       : 'enngage';
@loader     : 'default'; /* Needs to be default */
@rail       : 'default'; /* Needs to be default */
@reveal     : 'default'; /* Needs to be default */
@segment    : 'enngage';
@step       : 'default'; /* Needs to be default */

/* Collections */
@breadcrumb : 'enngage';
@form       : 'enngage';
@grid       : 'enngage';
@menu       : 'enngage';
@message    : 'enngage';
@table      : 'enngage';

/* Modules */
@accordion  : 'default';
@checkbox   : 'default';
@dimmer     : 'default';
@dropdown   : 'default';
@embed      : 'default';
@modal      : 'default';
@nag        : 'default';
@popup      : 'default';
@progress   : 'default';
@rating     : 'default';
@search     : 'default';
@shape      : 'default';
@sidebar    : 'default';
@sticky     : 'default';
@tab        : 'default';
@transition : 'default';

/* Views */
@ad         : 'default';
@card       : 'default';
@comment    : 'default';
@feed       : 'default';
@item       : 'default';
@statistic  : 'default';

/*******************************
Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/*******************************
Import Theme
*******************************/

@import "theme.less";

/* End Config */