@model UI.Builders.Internship.Views.InternshipDetailView
@using UI.Helpers;
@using Core.Helpers;
@using UI.Extensions;

@{
    ViewBag.Title = $"Event log";
    ViewBag.Description = $"Event log";
    Layout = "~/Views/Shared/Body/Dark.cshtml";
}

<h1>
    Event log
</h1>