@import "_base";

#w-body-wrapper {

    .w-auth-menu {
        .item.active {
            border-bottom: solid 3px $secondary-color;
        }
    }

    .w-auth-conversation-text-link{
        text-decoration: underline;
        color: $color-base;
    }

    .w-auth-conversation-text-link:hover{
        text-decoration: none;
    }

    .w-auth-gallery-column {
    }

    .w-auth-gallery-image-wrapper {
        margin: 14px 0 0 14px;
        display: block;
        width: 100%;

        img {
            width: 100%;
        }

        img:hover{

        }
    }
}
