@import "_base";

#w-body-wrapper {
   .w-color-background-white{
       background: #ffffff;
   }

   .w-color-primary{
       color: $primary-color;
   }

   .w-color-secondary{
       color: $secondary-color;
   }

   .w-color-facebook{
       color: #3b5998;
   }

   .w-color-linkedin{
       color: #1f88be;
   }

   .w-color-twitter{
       color: #55acee;
   }
}
