@import "_base";

#w-body-wrapper {

    .w-footer {
        font-size: 0.9em;
        background-color: $footer-background-color;
        color: $footer-text-color;
        padding-top: 45px;
        padding-bottom: 45px;

        .w-footer-header {
            color: $footer-header-color;
            font-size: $font-size-footer-header;
            font-weight: 300;
        }

        .w-footer-list .item {
            margin-top: 5px;
            color: $footer-text-color;
        }

        .w-footer-list .item:hover {
            text-decoration: underline;
            color: lighten( $footer-text-color, 15% )
        }

        .w-footer-list .item.w-footer-nolink:hover{
            text-decoration: none;
            color: $footer-text-color;
        }

        .w-footer-list-horizontal {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0 10px 0 0;
                display: inline;
                color: $footer-text-color;
            }

            li a {
                color: $footer-text-color;
            }

            li a:hover {
                text-decoration: underline;
                color: lighten( $footer-text-color, 15% )
            }
        }
    }
}
