@import "_base";

#w-body-wrapper {
    .w-hr-primary {
        background-image: -webkit-linear-gradient(left, transparent, #DBDBDB, transparent);
        background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
        border: 0;
        height: 1px;
        margin: 22px 0;
    }

    .w-hr-primary.w-hr-margin-top-0 {
        margin-top: 0;
    }
}
