@import "_base";

#w-body-wrapper {

    .w-link-segment{
        cursor: pointer;
        padding: 0;
    }

    .w-link-segment a{
        padding: 21px;
        display: block;
    }

    .w-link-segment:hover{
        opacity: 0.8;
        background-color: $secondary-color;

        h2{
            color: $secondary-color-text;
        }
    }
}
