@import "_base";

#w-body-wrapper {

     .w-mobile-block {
        @media (max-width: 767px) {
            display: block;
        }
    }

    .w-mobile-hide {
        @media (max-width: 767px) {
            display: none;
        }
    }

    .w-mobile-show {
        display: none;

        @media (max-width: 767px) {
            display: block;
        }
    }

     .w-mobile-left {
        @media (max-width: 767px) {
            text-align: left;
        }
    }

    .w-mobile-margin-0 {
        @media (max-width: 767px) {
            margin: 0;
        }
    }
}
