@import "_base";

#w-body-wrapper {
    .w-override-border-radius {
        border-radius: 0.285714rem;
    }

    .w-override-no-button {
        cursor: default;
    }

    .w-override-padding-all {
        padding: 15px !important;
    }

    .ui.search .message.empty .header{
        display: none!important;
    }

    .ui.search input{
        border-radius: 0.285714rem!important;
    }

    /* Segment start*/
    .ui.segment {
        border: none;
        box-shadow: none;
    }
    /* Segment end */
    /* Labeled dropdown start*/
    .ui.labeled.input .ui.dropdown.label {
        border-radius: 0;
        background: $primary-color;
        color: $primary-color-text;
    }

    .ui.dropdown .menu {
        background: $primary-color-text;

        .item:hover {
            background: $primary-color;
            color: $primary-color-text;
        }
    }
    /* Labeled dropdown end*/

    /* Semantic Cards*/
    .w-override-card-on-dark-background{
        box-shadow: none;
    }

    /* Semantic cards end*/
}
