@import "_base";

#w-body-wrapper{

    .pagination{
        list-style-type: none;
        padding: 0;
    }

    .pagination > li{
        display: inline;
        cursor: pointer;
        
    }

    .pagination > li > a {
        border-color: $color-pagination-primary;
        color: $color-pagination-primary-text;
        padding: 6px 12px;
    }

    .pagination > li > a:hover {
        background-color: $color-pagination-secondary;
        border-color: $color-pagination-secondary;
        color: $color-pagination-secondary-text;
    }

    .pagination > .active > a {
        background-color: $color-pagination-primary;
        border-color: $color-pagination-primary;
        color: $color-pagination-secondary-text;
    }

    .pagination > .active > a:hover {
        background-color: $color-pagination-primary;
        border-color: $color-pagination-primary;
    }

    .pagination > .active > span:focus {
        background-color: $color-pagination-secondary;
        border-color: $color-pagination-primary;
    }

    .pagination > .PagedList-ellipses a {
        background-color: $color-pagination-primary-text;
        color: $color-pagination-primary;
    }

    .pagination > .PagedList-ellipses a:hover {
        background-color: $color-pagination-primary-text;
        color: $color-pagination-primary;
        border: 1px solid $color-pagination-secondary;
    }

    .pagination .PagedList-ellipses{
    }

    .pagination .PagedList-skipToNext{
    }

    .pagination .PagedList-skipToPrevious{
    }
}
