@import "_base";

#w-body-wrapper {
    .w-teaser-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 398px; /* Height of the teaser image */
        padding-top: 130px;
        /*padding-left: 15%;*/
        text-align: center;
        color: #FFF;
        /* IMPORTANT */
        /*background-image: url("/content/images//teaser.jpg");*/ /* Url of backround image needs to be configured in UIHeader*/
        h1 {
            font-family: "Rozha One",serif;
            font-size: 45px;
            font-weight: bold;
            line-height: 50px;
            margin: 0 0 10px;
            text-shadow: 0 0 3px #7a7a7a;
        }

        .w-teaser-image-subtext {
            font-size: $font-size-large;
            display: block;
            font-weight: normal;
        }

        .w-teaser-image-button {
            display: block;
            font-weight: normal;
            text-align: center;
            margin-top: 30px;
            cursor: pointer;
        }
    }

    .w-teaser-boxes .column {
        margin-top: -75px;
        font-size: 16px;
    }

    .w-teaser-boxes .column p {
        color: $color-light;
    }

    .w-teaser-box-margin-fix {
        margin-top: 30px; /* make some space because of the "w-teaser-boxes .column" negative margin */
    }
}
