################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web/Content/Company/5e314b7f-735e-4605-a7f7-05d7f19b0c4d/Gallery
