@{
    ViewBag.Title = "Registrační e-mail odeslán";
    Layout = "~/Views/Shared/_PageBodyPadded.cshtml";
}

<div class="ui middle aligned center aligned sixteen column grid">
    <div class="row">
        <div class="ten wide computer sixteen wide tablet sixteen wide mobile column">
            <h1>
                @ViewBag.Title
            </h1>
            <p>
               Potvrďte svou registraci kliknutím na odkaz v e-mailu. 
            </p>
        </div>
    </div>
</div>


