@model UI.Builders.Master.Views.MasterView

@{
    Model.Metadata.BasicMetadata.Title = "Přihlášení se nezdařilo";
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";
}

<div class="ui middle aligned center aligned sixteen column grid">
    <div class="row">
        <div class="ten wide computer sixteen wide tablet sixteen wide mobile column">
            <h1>
                Chyba
            </h1>
            <p>
                Přihlášení se nezdařilo
            </p>
        </div>
    </div>
</div>
