@using UI.Builders.Master.Enums
@using UI.Builders.Shared.Enums
@using UI.Modules.Header
@model UI.Builders.Master.Views.MasterView

@{
    Model.Metadata.BasicMetadata.Title = "Zapomenuté heslo";

    Model.Layout.Type = LayoutTypeEnum.Light;
    Layout = Model.Layout.Path;

    Model.Header = new UiHeader()
    {
        Title = Model.Metadata.BasicMetadata.Title,
        Type = UiHeaderTypeEnum.Colored,
        Color = UIHeaderColorEnum.Medium,
        Size = UIHeaderSizeEnum.Inherit
    };
}

<div class="w-section-light">
    <div class="ui container">
        <div class="w-section w-section-center">
            <p>
                Instrukce pro obnovení hesla byly odeslány na tvůj e-mail.
            </p>
        </div>
    </div>
</div>


