@model UI.Builders.Master.Views.MasterView

@{
    Model.Metadata.BasicMetadata.Title = "Zapomenuté heslo";
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";
}

<div class="ui middle aligned center aligned sixteen column grid">
    <div class="row">
        <div class="ten wide computer sixteen wide tablet sixteen wide mobile column">
            <h1>
                @Model.Metadata.BasicMetadata.Title
            </h1>

            <p>
                Instrukce pro resetování hesla byly odeslány na Váš e-mail.
            </p>
        </div>
    </div>
</div>
