@using UI.Builders.Master.Enums
@using UI.Builders.Shared.Enums
@using UI.Modules.Header
@model UI.Builders.Account.Views.ForgotPasswordViewModel

@{
    Model.Metadata.BasicMetadata.Title = "Zapomenuté heslo";

    Model.Layout.Type = LayoutTypeEnum.Light;
    Layout = Model.Layout.Path;

    Model.Header = new UiHeader()
    {
        Title = Model.Metadata.BasicMetadata.Title,
        Type = UiHeaderTypeEnum.Colored,
        Color = UIHeaderColorEnum.Medium,
        Size = UIHeaderSizeEnum.Inherit
    };
}

<div class="w-section-light">
    <div class="ui container">
        <div class="w-section w-section-center">
            <div class="ui centered grid">
                <div class="ui sixteen wide mobile sixteen wide tablet five wide computer column w-body-text-center">
                    <p>Obnovit přes e-mail</p>

                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, null))
                    {
                        @Html.AntiForgeryToken()

                        @Helpers.MessageHelper.RenderValidationSummary()

                        <div class="ui form">
                            @{
                                var email = Model?.ForgotForm != null ? Model.ForgotForm.Email : "";
                            }
                            <div class="field">
                                <div class="ui left icon input">
                                    <input name="Email" placeholder="E-mail" type="text" value="@email">
                                    <i class="mail outline icon"></i>
                                </div>
                            </div>
                            <input type="submit" class="ui button primary" value="Obnovit heslo" />
                        </div>
                                }
                </div>
            </div>
        </div>
    </div>
</div>


