@model UI.Builders.Account.Views.ForgotPasswordViewModel
@{
    ViewBag.Title = "Zapomenuté heslo";
    Layout = "~/Views/Shared/_PageBodyPadded.cshtml";
}

<div class="ui middle aligned center aligned sixteen column grid">
    <div class="row">
        <div class="five wide computer sixteen wide tablet sixteen wide mobile column">
            <h1>@ViewBag.Title</h1>

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()

                if (!ViewData.ModelState.IsValid)
                {
                    <div class="ui negative message w-body-text-left w-margin-top-30">
                        <p>
                            @Html.ValidationSummary(false)
                        </p>
                    </div>
                }

                <div class="ui form w-margin-top-30">
                    @{
                        var email = Model?.ForgotForm != null ? Model.ForgotForm.Email : "";
                    }
                    <div class="field">
                        <div class="ui left icon input">
                            <input name="Email" placeholder="E-mail" type="text" value="@email">
                            <i class="mail outline icon"></i>
                        </div>
                    </div>
                    <input type="submit" class="ui submit button primary" value="Obnovit heslo" />
                </div>
        }
        </div>
    </div>
</div>

