@model UI.Builders.Account.Views.ResetPasswordViewModel
@{
    ViewBag.Title = "Obnovení hesla";
    Layout = "~/Views/Shared/_PageBodyPadded.cshtml";

    // Try to get tokens from query string
    var code = ViewContext.RouteData.Values["code"] ?? String.Empty;

    // Try to get tokens back from model
    if (!String.IsNullOrEmpty(code.ToString()))
    {
        code = Model.ResetPasswordForm.Code;
    }
}

<div class="ui middle aligned center aligned sixteen column grid">
    <div class="row">
        <div class="three wide computer ten wide tablet sixteen wide mobile column">
            <h1>@ViewBag.Title</h1>

            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()

                if (!ViewData.ModelState.IsValid)
                {
                    <div class="ui negative message w-body-text-left w-margin-top-30">
                        <p>
                            @Html.ValidationSummary(false)
                        </p>
                    </div>
                }

                <div class="ui form w-margin-top-30">
                    <div class="field">
                        <div class="ui left icon input">
                            <input name="Email" placeholder="E-mail" type="text" value="">
                            <i class="mail outline icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input name="Password" type="password" placeholder="Heslo">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input name="ConfirmPassword" type="password" placeholder="Potvrzení hesla">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <input type="submit" class="ui submit button primary" value="Obnovit heslo" />
                    @Html.Hidden("Code", code)
                </div>
            }
        </div>
    </div>
</div>
