@model UI.Builders.Master.Views.MasterView

@{
    Model.Metadata.BasicMetadata.Title = "Heslo obnoveno";
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";
}

<div class="ui middle aligned center aligned sixteen column grid">
    <div class="row">
        <div class="ten wide computer sixteen wide tablet sixteen wide mobile column">
            <h1>@Model.Metadata.BasicMetadata.Title</h1>

            <p>
                Vaše heslo bylo obnoveno. Pro přihlášení klikněte @Html.ActionLink("zde", "Login", "Account")
            </p>
        </div>
    </div>
</div>


