@model UI.Builders.Account.Views.ResetPasswordViewModel
@{
    Model.Metadata.BasicMetadata.Title = "Obnovení hesla";
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";
}

<div class="ui middle aligned center aligned sixteen column grid">
    <div class="row">
        <div class="five wide computer sixteen wide tablet sixteen wide mobile column">
            <h1>@Model.Metadata.BasicMetadata.Title</h1>

            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()

                if (!ViewData.ModelState.IsValid)
                {
                    <div class="ui negative message w-body-text-left w-margin-top-30">
                        <p>
                            @Html.ValidationSummary(false)
                        </p>
                    </div>
                }

                <div class="ui form w-margin-top-30">
                    <div class="field">
                        <div class="ui left icon input">
                            <input name="Email" placeholder="E-mail" type="text" value="">
                            <i class="mail outline icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input name="Password" type="password" placeholder="Heslo">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input name="ConfirmPassword" type="password" placeholder="Potvrzení hesla">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <input type="submit" class="ui submit button primary" value="Obnovit heslo" />
                    @Html.Hidden("Code", Model.Code)
                </div>
            }
        </div>
    </div>
</div>
