@using UI.Helpers;
@using UI.Extensions;
@model UI.Builders.Master.Views.MasterView

@{
    ViewBag.Title = "Avatar";
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";
}

<div class="ui grid">
    <div class="centered sixteen wide mobile sixteen wide tablet five wide computer column">

        <form class="ui form">

            <div class="field required">
                <label>
                    Avatar
                </label>
                <input type="file" name="Avatar">
            </div>

            <button class="ui button submit primary" type="submit">
                Uložit
            </button>
        </form>

    </div>
</div>