@using UI.Helpers;
@using UI.Extensions;
@model UI.Builders.Master.Views.MasterView

@{
    ViewBag.Title = "Avatar";
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";
}

@using (Html.BeginForm("Avatar", "Auth", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="ui grid">
        <div class="centered sixteen wide mobile sixteen wide tablet six wide computer column">
            <h1>
                Nahrajte avatar
            </h1>

            @Html.RenderInfoMessage(string.Format("Avatar bude automaticky zmenšen na {0}x{0} px", Common.Config.FileConfig.AvatarSideSize))

            <div>
                <img class="ui image tiny" src="@ImageHelper.GetTransparentImage()" data-src="@ImageHelper.GetUserAvatar(Model.Master.CurrentUser.UserName)" />
            </div>

            <div class="ui form w-margin-top-10">
                <div class="field required">
                    <input type="file" name="Avatar">
                </div>

                <button class="ui button submit primary" type="submit">
                    Nahrát
                </button>
            </div>

        </div>
    </div>
}