@model UI.Builders.Auth.Views.AuthEditThesisView

@{
    Model.Metadata.BasicMetadata.Title = Model.ThesisForm.ID == 0 ? "Nová závěrečná práce" : "Upravit | " + Model.ThesisForm.ThesisName;
    Layout = Model.AuthMaster.AuthMasterLayout;
    // tabs
    Model.Tabs.MyTheses.Set(true, 2);
}

@if (Model.Master.CurrentCompany.IsAvailable)
{
    @Html.Partial("Partials/AddEditThesis", Model.ThesisForm)
}
else
{
    <div class="ui info message">
        Vložit závěrečnou práci lze jen po zaregistrování firmy
    </div>

    <a href="@Url.Action("RegisterCompany")">
        <div class="ui large button primary">
            Registrovat firmu
        </div>
    </a>
}