@using UI.Helpers;
@using UI.Extensions;
@model UI.Builders.Auth.Views.AuthEditInternshipView

@{
    ViewBag.Title = "Editovat | " +(Model.InternshipExists ? Model.InternshipForm.Title : "");
    Layout = "~/Views/Auth/AuthMaster.cshtml";
}

@if (Model.InternshipExists)
{
    @Html.Partial("Partials/AddEditInternship", Model.InternshipForm)
}
else
{
    <div class="ui info message">
        Vložit stáž lze jen po zaregistrování firmy
    </div>

    <a href="@Url.Action("RegisterCompany")">
        <div class="ui large button primary">
            Vytvořit firmu
        </div>
    </a>
}