@using UI.Helpers;
@using UI.Extensions;
@model UI.Builders.Auth.Views.AuthNewInternshipView

@{
    Layout = "~/Views/Auth/AuthMaster.cshtml";
    // tabs
    Model.Tabs.MyInternships.Set(true, 4);
}

@if (Model.CanCreateInternship)
{
    @Html.Partial("Partials/AddEditInternship", Model.InternshipForm)
}
else
{
    @Html.RenderWarningMessage("Vložit stáž lze jen pro zaregistrování firmy")

    <a href="@Url.Action("RegisterCompany")">
        <div class="ui large button primary">
            Vytvořit firmu
        </div>
    </a>
}

