@using UI.Helpers
@model UI.Builders.Auth.Views.AuthNewInternshipView

@{
    Model.Metadata.BasicMetadata.Title = Model.InternshipForm.ID == 0 ? "Nová stáž" : "Upravit stáž | " + Model.InternshipForm.Title;
    Layout = "~/Views/Auth/AuthMaster.cshtml";
    // tabs
    Model.Tabs.MyInternships.Set(true, 4);
}

@if (Model.CanCreateInternship)
{
    @Html.Partial("Partials/AddEditInternship", Model.InternshipForm)
}
else
{
    @Helpers.MessageHelper.RenderWarningMessage("Vložit stáž lze jen pro zaregistrování firmy")

    <a href="@Url.Action("RegisterCompany")">
        <div class="ui large button primary">
            Registrovat firmu
        </div>
    </a>
}

