@using UI.Helpers;
@using UI.Extensions;
@model UI.Builders.Auth.Views.AuthNewInternshipView

@{
    ViewBag.Title = "Vložit stáž";
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";
}

@if (Model.CanCreateInternship)
{
    @Html.Partial("Partials/AddEditInternship", Model.InternshipForm)
}
else
{
    @Html.RenderWarningMessage("Vložit stáž lze jen pro zaregistrování firmy")

    <a href="@Url.Action("RegisterCompany")">
        <div class="ui large button primary">
            Vytvořit firmu
        </div>
    </a>
}

