@model UI.Builders.Auth.Views.AuthNewQuestionareView

@{
    Model.Metadata.BasicMetadata.Title = "Nový dotazník";
    Layout = "~/Views/Auth/AuthMaster.cshtml";
}

<h1>
    Nový dotazník
</h1>

@Html.Partial("~/Views/Modules/Questionare/CreateEditQuestionare.cshtml", Model.QuestionareForm)

