@model UI.Builders.Auth.Views.AuthNewQuestionnaireView

@{
    Model.Metadata.BasicMetadata.Title = "Nový dotazník";
    Layout = Model.AuthMaster.AuthMasterLayout;
}

<h1>
    Nový dotazník
</h1>

@if (Model.Master.CurrentCompany.IsAvailable)
{
   @Html.Partial("~/Views/Modules/Questionnaire/CreateEditQuestionnaire.cshtml", Model.QuestionnaireForm)
}
else
{
    @Helpers.MessageHelper.RenderWarningMessage("Dotazníky lze vytvořit pouze po zaregistrování firmy")

    <a href="@Url.Action("RegisterCompany")">
        <div class="ui large button primary">
            Registrovat firmu
        </div>
    </a>
}


