@using UI.Helpers;
@using UI.Extensions;
@model UI.Builders.Master.Views.MasterView

@{
    ViewBag.Title = "Registrace firmy";
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";
}

@Html.RequireScript("/scripts/views/auth/registerCompany")

<div class="ui grid">
    <div class="centered sixteen wide mobile sixteen wide tablet eight wide computer column">

        <form id="_RegisterCompanyForm" class="ui form">

            <h4 class="ui dividing header">
                Obecné informace
            </h4>

            <div class="field required">
                <label>Název společnosti</label>
                <input name="CompanyName" placeholder="" type="text">
            </div>

            <div class="field required">
                <label>
                    Logo
                </label>
                <input type="file" name="Logo">
            </div>

            <div class="field required">
                <label>E-mail</label>
                <input name="PublicEmail" placeholder="" type="text">
            </div>

            <div class="field required">
                <label>Krátky popis</label>
                <textarea name="ShortDescription"></textarea>
            </div>

            <div class="field">
                <label>Dlouhý popis</label>
                <textarea id="_LongDescription" name="LongDescription"></textarea>
            </div>

            <div class="field required">
                <label>Rok založení</label>
                <select name="YearFounded" class="ui dropdown _YearFoundedDropdown">
                    <option value="">Rok</option>
                    @for (int i = DateTime.Now.Year; i >= 1950 ; i--)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>

            <div class="field required">
                <label>Počet zaměstanců</label>
                <select name="State" class="ui dropdown _CompanySizeDropdown">
                    <option value="">Počet</option>
                    <option value="9">< 10</option>
                    <option value="19">10-19</option>
                    <option value="49">20-49</option>
                    <option value="99">50-99</option>
                    <option value="100">100+</option>
                </select>
            </div>

            <h4 class="ui dividing header">
                Lokace
            </h4>

            <div class="field required">
                <label>Adresa</label>
                <input name="Address" placeholder="" type="text">
            </div>

            <div class="field required">
                <label>Město</label>
                <input name="City" placeholder="" type="text">
            </div>

            <div class="field required">
                <label>Stát</label>
                <select name="Country" class="ui search dropdown _StateDropdown">
                    <option value="">Stát</option>
                    <option value="CZE">Česká republika</option>
                    <option value="SVK">Slovensko</option>
                    <option value="GER">Německo</option>
                    <option value="GB">UK</option>
                </select>
            </div>

            <div class="field">
                <label>Zeměpisná šířka (Lat)</label>
                <input name="Lat" placeholder="" type="text">
            </div>

            <div class="field">
                <label>Zeměpisná délka (Lng)</label>
                <input name="Lng" placeholder="" type="text">
            </div>

            <h4 class="ui dividing header">
                Social
            </h4>

            <div class="field required">
                <label>Web</label>
                <input name="Web" placeholder="např. http://mycompany.com" type="text">
            </div>

            <div class="field">
                <label>Facebook</label>
                <input name="Facebook" placeholder="např. http://facebook.com/myCompany" type="text">
            </div>

            <div class="field">
                <label>Twitter</label>
                <input name="Twitter" placeholder="např. http://twitter.com/myCompany" type="text">
            </div>

            <div class="field">
                <label>LinkedIn</label>
                <input name="LinkedIn" placeholder="např. http://linkedin.com/company/myCompany" type="text">
            </div>

            <button class="ui button submit primary" type="submit">
                Přidat společnost
            </button>

            <div class="ui error message"></div>
        </form>

    </div>
</div>