@using UI.Builders.Master.Enums
@using UI.Builders.Shared.Enums
@using UI.Modules.Header
@model UI.Builders.Auth.Views.AuthMasterView
@{
    Model.Metadata.BasicMetadata.Title = "Typ účtu";

    Model.Header = new UiHeader()
    {
        Title = "Zvol typ účtu",
        SubText = "",
        Type = UiHeaderTypeEnum.Colored,
        Size = UIHeaderSizeEnum.Normal,
        Color = UIHeaderColorEnum.Medium,
        ShowScrollButton = true,
        TextAlignment = UIHeaderTextAlignmentEnum.Center
    };

    Model.Layout.Type = LayoutTypeEnum.Light;
    Layout = Model.Layout.Path;
}

<div class="ui container">
    <div class="ui centered grid">
        <div class="ui sixteen wide mobile eight wide tablet four wide computer column">
            <div class="ui segment w-link-segment">
                <a href="@Url.Action("SetCandidateType", "Auth")">
                    <h2 class="ui center aligned icon header">
                        <i class="university icon"></i>
                        Uchazeč
                    </h2>
                </a>
            </div>
        </div>
        <div class="ui sixteen wide mobile eight wide tablet four wide computer column">
            <div class="ui segment w-link-segment">
                <a href="@Url.Action("SetCompanyType", "Auth")">
                    <h2 class="ui center aligned icon header">
                        <i class="building icon"></i>
                        Firma
                    </h2>
                </a>
            </div>
        </div>
    </div>
</div>

