@using UI.Modules.Breadcrumbs.Models
@model UI.Builders.Auth.Views.AuthEditCompanyView

@{
    Model.Metadata.BasicMetadata.Title = (Model.CompanyForm.IsExistingCompany ? Model.CompanyForm.CompanyName : string.Empty);
    Layout = Model.Master.CurrentUser.AuthMasterLayout;
}

<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide computer sixteen wide tablet column">
        @Helpers.BreadcrumbsHelper.GetBreadcrumbs(new List<BreadcrumbItem>()
        {
            new BreadcrumbItem("Menu", Url.Action(Model.Master.CurrentUser.AuthMasterAction, "Auth")),
            new BreadcrumbItem(Model.Metadata.BasicMetadata.Title)
        })
    </div>
</div>

@if (Model.Master.CurrentCompany.IsAvailable)
{
    @Html.Partial("~/Views/Auth/AuthCompany/Partials/AddEditCompany.cshtml", Model.CompanyForm)
}
else
{
    @Helpers.MessageHelper.RenderWarningMessage("Nelze upravit firmu před jejím zaregistrováním")
}

