@model UI.Builders.Auth.Views.AuthEditInternshipView

@{
    Model.Metadata.BasicMetadata.Title = "Editovat | " +(Model.InternshipExists ? Model.InternshipForm.Title : "");
    Layout = Model.AuthMaster.AuthMasterLayout;
    // tabs
    Model.Tabs.MyInternships.Set(true, 2);
}

@if (Model.Master.CurrentCompany.IsAvailable)
{
    @Html.Partial("~/Views/Auth/AuthCompany/Partials/AddEditInternship.cshtml", Model.InternshipForm)
}
else
{
    <div class="ui info message">
        Vložit stáž lze jen po zaregistrování firmy
    </div>

    <a href="@Url.Action("RegisterCompany", "AuthCompany")">
        <div class="ui large button primary">
            Registrovat firmu
        </div>
    </a>
}