@using UI.Modules.Breadcrumbs.Models
@model UI.Builders.Auth.Views.AuthEditInternshipView

@{
    Model.Metadata.BasicMetadata.Title = (Model.InternshipExists ? Model.InternshipForm.Title : "");
    Layout = Model.Master.CurrentUser.AuthMasterLayout;
    // tabs
    Model.Tabs.MyInternships.Set(true, 2);
}

<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide computer sixteen wide tablet column">
        @Helpers.BreadcrumbsHelper.GetBreadcrumbs(new List<BreadcrumbItem>()
        {
            new BreadcrumbItem("Menu", Url.Action(Model.Master.CurrentUser.AuthMasterAction, "Auth")),
            new BreadcrumbItem("Stáže", Url.Action("Internships", "AuthCompany")),
            new BreadcrumbItem(Model.Metadata.BasicMetadata.Title)
        })
    </div>
</div>

@if (Model.Master.CurrentCompany.IsAvailable)
{
    @Html.Partial("~/Views/Auth/AuthCompany/Partials/AddEditInternship.cshtml", Model.InternshipForm)
}
else
{
    <div class="ui info message">
        Vložit stáž lze jen po zaregistrování firmy
    </div>

    <a href="@Url.Action("RegisterCompany", "AuthCompany")">
        <div class="ui large button primary">
            Registrovat firmu
        </div>
    </a>
}