@using UI.Modules.Breadcrumbs.Models
@model UI.Builders.Auth.Views.AuthEditQuestionnaireView
@{
    Model.Metadata.BasicMetadata.Title = Model.QuestionnaireForm.QuestionnaireName;
    Layout = Model.AuthMaster.AuthMasterLayout;
}
<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide computer sixteen wide tablet column">
        @Helpers.BreadcrumbsHelper.GetBreadcrumbs(new List<BreadcrumbItem>()
        {
            new BreadcrumbItem("Menu", Url.Action(Model.AuthMaster.AuthMasterAction, "Auth")),
            new BreadcrumbItem("Dotazníky", Url.Action("Questionnaires", "AuthCompany")),
            new BreadcrumbItem(Model.Metadata.BasicMetadata.Title)
        })
    </div>
</div>
@if (Model.Master.CurrentCompany.IsAvailable)
{

    <div class="ui segment">
        @Html.Partial("~/Views/Modules/Questionnaire/CreateEditQuestionnaire.cshtml", Model.QuestionnaireForm)
    </div>
}
else
{
    <div class="ui info message">
        Dotazník je dostupný pouze po zaregistrování firmy
    </div>

    <a href="@Url.Action("RegisterCompany", "AuthCompany")">
        <div class="ui large button primary">
            Registrovat firmu
        </div>
    </a>
}
