@using UI.Modules.Breadcrumbs.Models
@model UI.Builders.Auth.Views.AuthNewThesisView

@{
    Model.Metadata.BasicMetadata.Title = "Nová závěrečná práce";
    Layout = Model.Master.CurrentUser.AuthMasterLayout;
    // tabs
    Model.Tabs.MyTheses.Set(true, 2);
}

<div class="ui grid">
    <div class="sixteen wide mobile sixteen wide computer sixteen wide tablet column">
        @Helpers.BreadcrumbsHelper.GetBreadcrumbs(new List<BreadcrumbItem>()
        {
            new BreadcrumbItem("Menu", Url.Action(Model.Master.CurrentUser.AuthMasterAction, "Auth")),
            new BreadcrumbItem("Závěrečné práce", Url.Action("Theses", "AuthCompany")),
            new BreadcrumbItem(Model.Metadata.BasicMetadata.Title)
        })
    </div>
</div>

@if (Model.CanCreateThesis)
{
    @Html.Partial("~/Views/Auth/AuthCompany/Partials/AddEditThesis.cshtml", Model.ThesisForm)
}
else
{
    @Helpers.MessageHelper.RenderWarningMessage("Vložit závěrečnou práci lze jen pro zaregistrování firmy")

    <a href="@Url.Action("RegisterCompany", "AuthCompany")">
        <div class="ui large button primary">
            Registrovat firmu
        </div>
    </a>
}

