@model UI.Builders.Auth.Views.AuthNewThesisView

@{
    Model.Metadata.BasicMetadata.Title = "Vytvořit stáž";
    Layout = Model.AuthMaster.AuthMasterLayout;
    // tabs
    Model.Tabs.MyTheses.Set(true, 2);
}

@if (Model.CanCreateThesis)
{
    @Html.Partial("~/Views/Auth/AuthCompany/Partials/AddEditThesis.cshtml", Model.ThesisForm)
}
else
{
    @Helpers.MessageHelper.RenderWarningMessage("Vložit závěrečnou práci lze jen pro zaregistrování firmy")

    <a href="@Url.Action("RegisterCompany", "AuthCompany")">
        <div class="ui large button primary">
            Registrovat firmu
        </div>
    </a>
}

