@model UI.Builders.Company.Views.CompanyDetailView
@using UI.Helpers;
@using Core.Helpers;
@using UI.Extensions;

<h2>
    O nás
</h2>
<p>
    @Html.Raw(Model.Company.LongDescription)
</p>
