@using UI.Builders.Master.Enums
@using UI.Builders.Shared.Enums
@using UI.Modules.Header
@model UI.Builders.Master.Views.MasterView

@{
    Model.Metadata.BasicMetadata.Title = "O nás";

    Model.Header = new UiHeader()
    {
        Title = Model.Metadata.BasicMetadata.Title,
        SubText = "Spojujeme firmy a lidi, kteří mají skutečný zájem se něco naučit a pracovat na sobě",
        Type = UiHeaderTypeEnum.Colored,
        Color = UIHeaderColorEnum.Dark,
        Size = UIHeaderSizeEnum.Normal,
        ShowScrollButton = false,
        TextAlignment = UIHeaderTextAlignmentEnum.Center
    };

    Model.Layout.Type = LayoutTypeEnum.Light;
    Layout = Model.Layout.Path;
}

@Helpers.ScriptHelper.RequireScript("/scripts/views/home/about")

<div class="w-section-light">
    <div class="ui container">
        <div class="w-section">
            <div class="ui grid">
                <div class="ui sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                    <h2>
                        Pro firmy
                    </h2>
                    <p>
                        Stáže jsou skvělým způsobem, jakým lze získat stálé zaměstnance. Mnoho uchazečů, kteří se účastní stáže má skutečný zájem o danou problematiku a chce se vzdělávat i za cenu nižší nebo i žádné mzdy. To umožní firmám najít skutečné talenty, které si navíc může "vychovat" v rámci stáže. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-section-medium">
    <div class="ui container">
        <div class="w-section">
            <div class="ui grid">
                <div class="ui sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                    <h2>
                        Pro uchazeče
                    </h2>
                    <p>
                        Naším cílem je poskytnout transparentní přístup ke stážím, které uchazečům přinesou cenné zkušenosti, přivýdělek ke studiu nebo třeba i stálou práci.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="w-color-background-darkblack">
    <div class="ui container">
        <div class="w-body-text-center w-font-white">
            <div>
                <h2>
                    Kdo za webem stojí?
                </h2>
                <div class="w-margin-top-50 w-padding-bottom-70">
                    <div class="ui special centered cards">
                        <div class="card w-override-card-on-dark-background _AboutUsCard">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="https://www.linkedin.com/in/richard-šůstek-8740a9a9">
                                                <div class="ui inverted button">LinkedIn</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <img alt="" src="/Content/Images/Devs/rs.jpg">
                            </div>
                            <div class="content">
                                <a  href="https://www.linkedin.com/in/richard-šůstek-8740a9a9" class="header">Richard Šůstek</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

