@using UI.Builders.Master.Enums
@using UI.Builders.Shared.Enums
@using UI.Modules.Header
@model UI.Builders.Master.Views.MasterView

@{
    Model.Metadata.BasicMetadata.Title = "O nás";

    Model.Header = new UiHeader()
    {
        Title = Model.Metadata.BasicMetadata.Title,
        SubText = "Spojujeme firmy a talenty",
        Type = UiHeaderTypeEnum.Colored,
        Size = UIHeaderSizeEnum.Normal,
        ShowScrollButton = true,
        TextAlignment = UIHeaderTextAlignmentEnum.Center
    };

    Model.Layout.Type = LayoutTypeEnum.Light;
    Layout = Model.Layout.Path;
}

@Helpers.ScriptHelper.RequireScript("/scripts/views/home/about")



@*<div class="w-color-background-darkblack">
    <div class="ui container">
        <div class="w-body-text-center w-font-white">
            <div>
                <h2>
                    Kdo za webem stojí?
                </h2>
                <div class="w-margin-top-50 w-padding-bottom-70">
                    <div class="ui special centered cards">
                        <div class="card w-override-card-on-dark-background _AboutUsCard">
                            <div class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="https://www.linkedin.com/in/richard-šůstek-8740a9a9">
                                                <div class="ui inverted button">LinkedIn</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <img alt="" src="/Content/Images/Devs/rs.jpg">
                            </div>
                            <div class="content">
                                <a  href="https://www.linkedin.com/in/richard-šůstek-8740a9a9" class="header">Richard Šůstek</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

