@model UI.Builders.Master.Views.MasterView

@{
    Model.Metadata.BasicMetadata.Title = "Stáže v IT a technologických firmách";
    Model.Metadata.BasicMetadata.Description = "Stáže v IT a technologických firmých. Přihlaš se a získat potřebnou praxi a zkušenosti";
    Layout = "~/Views/Shared/Body/Light.cshtml";
}

<div>
    <div class="w-teaser-image">
        <h1>
            Najdi si stáž snů
            <span>
                v IT a technologických firmách
            </span>
        </h1>
    </div>
</div>

