@model UI.Builders.Master.Views.MasterView

@{
    ViewBag.Title = @Common.Config.AppConfig.SiteName + " | Stáže v IT a technologických firmách";
}

<div>
    <div class="w-teaser-image">
        <h1>
            Najdi si stáž snů
            <span>
                v IT a technologických firmách
            </span>
        </h1>
    </div>
</div>

