@model UI.Builders.Master.Views.MasterView

@{
    ViewBag.Title = "";
}

<div>
    <div class="w-teaser-image">
        <h1>
            @Common.Config.AppConfig.SiteName
            <span>
                fasfe
            </span>
        </h1>
    </div>
</div>