@model UI.Builders.Master.Views.MasterView

@{
    ViewBag.Title = "Jak to funguje";
    Layout = "~/Views/Shared/Body/Light.cshtml";
}

<h1>
    @ViewBag.Title
</h1>

TEST: @Helpers.UrlHelper.CurrentAction
