@model UI.Builders.Master.Views.MasterView

@{
    Model.Metadata.BasicMetadata.Title = "Jak to funguje";
    Layout = "~/Views/Shared/Body/Light.cshtml";
}

<h1>
    @Model.Metadata.BasicMetadata.Title
</h1>

TEST: @Helpers.UrlHelper.CurrentAction
