@using UI.Builders.Master.Enums
@using UI.Builders.Shared.Enums
@using UI.Modules.Header
@model UI.Builders.Master.Views.MasterView

@{
    Model.Metadata.BasicMetadata.Title = "Ceník";

    Model.Header = new UiHeader()
    {
        Title = Model.Metadata.BasicMetadata.Title,
        SubText = "Je to zcela zdarma!",
        Type = UiHeaderTypeEnum.Colored,
        Color = UIHeaderColorEnum.Dark,
        Size = UIHeaderSizeEnum.Normal,
        TextAlignment = UIHeaderTextAlignmentEnum.Center
    };

    Model.Layout.Type = LayoutTypeEnum.Light;
    Layout = Model.Layout.Path;
}

<div class="ui container w-margin-top-50 w-margin-bottom-50">
    <div class="ui centered grid">
        <div class="sixteen wide mobile twelve wide tablet six wide computer column w-price-column">
            <div class="ui segment vertical very padded w-price-header-segment highlighted">
                <div>
                    <div class="ui list w-price-header-list">
                        <div class="item">Zdarma</div>
                    </div>
                    <div class="ui list w-price-header-sublist">
                        <div class="item">Co získáte?</div>
                    </div>
                </div>
            </div>
            <div class="ui segment vertical very padded w-price-body-segment highlighted">
                <div class="ui list w-price-list">
                    <div class="item">Možnost přidávat stáže</div>
                    <div class="item">Možnost přidávat závěrečné práce</div>
                    <div class="item">Vytváření vlastních dotazníků pro uchazeče</div>
                    <div class="item">E-mailové notifikace</div>
                    <div class="item">Jednoduché administrační prostředí</div>
                    <div class="item">Vše bez jakýchkoliv poplatků</div>
                </div>
            </div>
        </div>
        @*<div class="sixteen wide mobile twelve wide tablet six wide computer column w-price-column">
            <div class="ui segment vertical very padded w-price-header-segment w-price-bordered-segment">
                <div>
                    <div class="ui list w-price-header-list">
                        <div class="item">Pro</div>
                    </div>
                    <div class="ui list w-price-header-sublist">
                        <div class="item"><em>V přípravě</em></div>
                    </div>
                </div>
            </div>
            <div class="ui segment vertical very padded w-price-body-segment w-price-bordered-segment">
                <div class="ui list w-price-list">
                </div>
            </div>
        </div>*@
    </div>
</div>
