@using UI.Builders.Master.Enums
@using UI.Builders.Shared.Enums
@using UI.Modules.Header
@model UI.Builders.Master.Views.MasterView

@{
    Model.Metadata.BasicMetadata.Title = "Ceník";

    Model.Header = new UiHeader()
    {
        Title = Model.Metadata.BasicMetadata.Title,
        SubText = "",
        Type = UiHeaderTypeEnum.BackgroundImage,
        ImagePath = "/content/images/contact-us-hero.jpg",
        Size = UIHeaderSizeEnum.Normal,
        ShowScrollButton = true,
        TextAlignment = UIHeaderTextAlignmentEnum.Center
    };

    Model.Layout.Type = LayoutTypeEnum.Light;
    Layout = Model.Layout.Path;
}

<div class="ui container w-margin-top-50 w-margin-bottom-50">
    <div class="ui centered grid">
        <div class="sixteen wide mobile twelve wide tablet six wide computer column w-price-column">
            <div class="ui segment vertical very padded w-price-header-segment highlighted">
                <div>
                    <div class="ui list w-price-header-list">
                        <div class="item">Zdarma</div>
                    </div>
                    <div class="ui list w-price-header-sublist">
                        <div class="item">0 Kč</div>
                    </div>
                </div>
            </div>
            <div class="ui segment vertical very padded w-price-body-segment highlighted">
                <div class="ui list w-price-list">
                    <div class="item">Registrace firmy zdarma</div>
                    <div class="item">Neomezeně stáží</div>
                    <div class="item">Neomezeně závěrečných prací</div>
                    <div class="item">Jednoduchá správa nabídek</div>
                    <div class="item">E-mailové notifikace uchazečů</div>
                    <div class="item">Nabídky okamžitě viditelné v přehledu</div>
                    <div class="item">Vytváření vlastních dotazníků pro uchazeče</div>
                </div>
            </div>
        </div>
        <div class="sixteen wide mobile twelve wide tablet six wide computer column w-price-column">
            <div class="ui segment vertical very padded w-price-header-segment w-price-bordered-segment">
                <div>
                    <div class="ui list w-price-header-list">
                        <div class="item">Pro</div>
                    </div>
                    <div class="ui list w-price-header-sublist">
                        <div class="item"><em>V přípravě</em></div>
                    </div>
                </div>
            </div>
            <div class="ui segment vertical very padded w-price-body-segment w-price-bordered-segment">
                <div class="ui list w-price-list">
                </div>
            </div>
        </div>
    </div>
</div>
