@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <a class="item w-menu-right-item" href="@Url.Action("Index", "Auth")">
        <div class="ui button secondary">
            @User.Identity.GetUserName()
        </div>
    </a>
}
else
{
    <a class="item w-menu-right-item" href="@Url.Action("Register", "Account")">
        <div class="ui secondary button">Registrovat</div>
    </a>
    <a class="item w-menu-right-item" href="@Url.Action("Login", "Account")">
        Přihlásit
    </a>
}
