@using Microsoft.AspNet.Identity
@model UI.Builders.Master.Views.MasterView

@if (Request.IsAuthenticated)
{
    <a class="item" href="@Url.Action("index", "Auth")">
        @Model.Master.CurrentUser.UserDisplayName
    </a>
}
else
{
    <a class="item" href="@Url.Action("Login", "Account")">
        Přihlásit
    </a>
    <a class="item" href="@Url.Action("Register", "Account")">
        <div class="ui primary button">
            Registrovat
        </div>
    </a>
}
