@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <a class="item w-menu-right-item" href="@Url.Action("Index", "MyProfile")">
        <div class="ui button primary">
            @User.Identity.GetUserName()
        </div>
    </a>
}
else
{
    <a class="item w-menu-right-item" href="@Url.Action("Register", "Account")">
        <div class="ui primary button">Sign up</div>
    </a>
    <a class="item w-menu-right-item" href="@Url.Action("Login", "Account")">
        <div class="ui button">Log In</div>
    </a>
}
