@model UI.Builders.Master.Views.MasterView

@if (Model.Master.CurrentUser.IsAuthenticated)
{
    <a class="item" href="@Url.Action(Model.Master.CurrentUser.AuthMasterAction, "Auth")">
        Můj profil
    </a>
}
else
{
    <a class="item" href="@Url.Action("Login", "Account")">
        Přihlásit
    </a>
    <a class="item" href="@Url.Action("Register", "Account")">
        <div class="ui primary button">
            Registrovat
        </div>
    </a>
}
