@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <a class="item w-menu-right-item" href="@Url.Action("Index", "Auth")">
        <img alt="avatar" class="ui avatar image" src="http://semantic-ui.com/images/wireframe/square-image.png">
        &nbsp;<span>@User.Identity.GetUserName()</span>
    </a>
}
else
{
    <a class="item w-menu-right-item" href="@Url.Action("Register", "Account")">
        <div class="ui secondary button">Registrovat</div>
    </a>
    <a class="item w-menu-right-item" href="@Url.Action("Login", "Account")">
        Přihlásit
    </a>
}
