@using Core.Config;
@using UI.Builders.Master.Enums
@using UI.Builders.Shared.Enums
@using UI.Builders.Shared.Models
@using UI.Modules.Header
@model UI.Builders.Master.Views.ErrorView

@{
    Model.Metadata.BasicMetadata.Title = "500";
    Model.Metadata.BasicMetadata.Description = "Error";

    Model.Layout.Type = LayoutTypeEnum.Light;
    Layout = Model.Layout.Path;

    var errorMessage = AppConfig.Environment == Core.Environment.EnvironmentEnum.Dev ? Model.ErrorMessage : "Nastala neočekávaná chyba";

    Model.Header = new UiHeader()
    {
        Title = Model.Metadata.BasicMetadata.Title,
        SubText = errorMessage,
        Type = UiHeaderTypeEnum.Colored,
        Color = UIHeaderColorEnum.Dark,
        Size = UIHeaderSizeEnum.Large,
        TextAlignment = UIHeaderTextAlignmentEnum.Center,
        Buttons = new List<UIHeaderButton>()
        {
            new UIHeaderButton()
            {
                Type = UIHeaderButtonTypeEnum.Primary,
                Text = "Zpět na hlavní stránku",
                ButtonUrl = Url.Action("Index", "Home")
            }
        }
    };
}

@if (AppConfig.Environment == Core.Environment.EnvironmentEnum.Dev)
{
    <div class="w-section-medium">
        <div class="ui container">
            <div class="w-section">
                <div class="ui grid">
                    <div class="ui sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                        <h2>
                            Stacktrace
                        </h2>
                        <p class="w-body-dont-break">
                            @Model.Stacktrace
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
