@using UI.Helpers;
@using Core.Config;
@model UI.Builders.Master.Views.ErrorView

@{
    Model.Metadata.BasicMetadata.Title = "Nastala chyba";
    Model.Metadata.BasicMetadata.Description = "Neočekávaná chyba narušila zdánlivě bezchybný chod webu";
    Layout = "~/Views/Shared/Body/DarkPadded.cshtml";
}

<div class="ui sixteen column grid">
    <div class="centered row w-margin-top-30">
        <div class="ten wide computer sixteen wide tablet sixteen wide mobile column">

            <h1>
                Ooops, nastala <span class="ui header red">chyba</span>
            </h1>

        </div>
    </div>
    <div class="centered row">
        <div class="ten wide computer sixteen wide tablet sixteen wide mobile column w-body-text-left">
            <div class="ui very padded segment">
                <div class="ui header">
                    <img class="ui image mini" src="@Helpers.ImageHelper.GetErrorIcon()" alt="Ikona chyby">
                    <div class="content">
                        Zpráva
                    </div>
                </div>
                @if (AppConfig.Environment == Core.Environment.EnvironmentEnum.Dev)
                {
                    <p>
                        @Model.ErrorMessage
                    </p>
                }
                else
                {
                    <p>
                        Nastala neočekávaná chyba, která byla ihned zaznamenána. Chybu určitě brzy odstráníme. Za případné problémy se omlouváme. 
                    </p>
                }
            </div>

            @if (AppConfig.Environment == Core.Environment.EnvironmentEnum.Dev)
            {
                <div class="ui very padded segment">
                    <h3>
                        Stacktrace
                    </h3>
                    <p class="w-body-dont-break">
                        @Model.Stacktrace
                    </p>
                </div>
            }
        </div>
    </div>
</div>
