@model UI.Builders.Master.Views.LockoutView

@{
    Model.Metadata.BasicMetadata.Title = "Locked Out";
}

    <h1>Locked out.</h1>
   <p>This account has been locked out, please try again later.</p>
