<appSettings>
  <!-- Environment -->
  <add key="Environment" value="0" /> <!-- 0 = dev, 1 = live -->
  <add key="DefaultCacheMinutes" value="30" />
  <add key="DisableCaching" value="0" />

  <!-- Web -->
  <add key="WebUrl" value="http://localhost:59025/" />

  <!-- General -->
  <add key="MainContactEmail" value="ennspassion@gmail.com" />
  <add key="SiteName" value="InternGuru" />
  <add key="Address" value="Green lane 9" />
  <add key="City" value="Toronto" />
  <add key="Country" value="Canada" />
  
  <!-- Files -->
  <add key="MaximumFileSize" value="5000000" /><!-- 5000000 = 5MB -->

  <!-- E-mail -->
  <add key="NoSubjectText" value="No subject" />
  <add key="FromEmailAddress" value="internguru9@gmail.com" />
  <add key="EmailTemplatesFolder" value="EmailTemplates" />
  
  <!-- E-mail provider -->
  <add key="GmailUsername" value="internguru9@gmail.com" />
  <add key="GmailPort" value="25" />
  <add key="GmailPassword" value="Publicpassword9" />
  <add key="GmailHost" value="smtp.gmail.com" />
  <add key="GmailSSL" value="true" />
  
  <!-- Social connect -->
  <add key="FacebookAppID" value="543676332498808" />
  <add key="FacebookAppSecret" value="4836acf551984cc8f7d3d3ee338a0940" />
  <add key="FacebookAppUrl" value="https://www.facebook.com/scibow/" />
  <add key="GoogleClientID" value="630902612982-8979hdis54kmj9v5e4k6ouhcfbai30il.apps.googleusercontent.com" />
  <add key="GoogleClientSecret" value="UsshY7RjBBtSPkeCJC6t0tDl" />
  <add key="TwitterAppUrl" value="https://twitter.com/" />
  <add key="GoogleApiKey" value="AIzaSyASk9KHWgVffqXzS1bAghdo9LEZ9FjswEM" />
  
  <!-- Default metadata -->
  <add key="DefaultImagePath" value="/Content/Images/Metadata/kryten.jpg" />
  <add key="DefaultDescription" value="Default description" />
  <add key="DefaultTitle" value="Default title" />
  <add key="AppleTouchIconPath" value="/Content/Images/Metadata/kryten.jpg" />

</appSettings>