<connectionStrings>
  <!-- <add name="DefaultConnection" connectionString="Data Source=NF-15-NTB;Initial Catalog=InternGuru;Integrated Security=False;User ID=richards;Password=Publicpassword9;Connect Timeout=60" providerName="System.Data.SqlClient"  /> -->
<add name="DefaultConnection" connectionString="Data Source=ENN\SQLEXPRESS;Initial Catalog=InternGuru2;Persist Security Info=True;User ID=richards;Password=Publicpassword9" providerName="System.Data.SqlClient" />
<!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-GKOUDH7\SQLExpress;Initial Catalog=InternGuru;Persist Security Info=True;User ID=sa;Password=Publicpassword9" providerName="System.Data.SqlClient" />  -->
</connectionStrings>
