$font-size-base: 14px;
$font-size-small: 12px;
$font-size-large: 17px;
$font-size-extra-large: 20px;
$font-size-huge: 30px;
$font-size-header-title: 41px;

$color-base: #232d32;

$navigation-background-color: #ffffff;
$footer-background-color: #232d32;

$menu-header-color: #2874a6;
$menu-link-color: #000000;
$menu-link-hover-color: #2874a6;
$menu-link-active-color:  #000000;
$menu-link-size: $font-size-base;
$menu-link-popup-size: $font-size-base;

$color-body-dark: #e8ebeb;
$color-body-light: #fff;

$color-light: #828282;

$primary-color: #2185d0;
$primary-color-text: #FFFFFF;

$secondary-color: #FF5733;
$secondary-color-text: #FFFFFF;

$color-pagination-primary: #FF5733;
$color-pagination-secondary: #2874a6;
$color-pagination-primary-text: #000000;
$color-pagination-secondary-text: #FFFFFF;

$color-positive: #108f00;
$color-negative: #d31414;

